<%- include('partials/head') %> 
<body>
    <%- include('partials/nav') %> 
    <h1>The Home Page <%= 'hello world'.toUpperCase()%></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id veniam incidunt magni, reprehenderit culpa facilis explicabo reiciendis cumque hic sit assumenda illo totam,
        officia animi? Non ipsum necessitatibus officiis dolor! Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, repudiandae doloribus. Quo nesciunt pariatur sint minima aliquam rem est quae vero? Nemo unde quas nobis assumenda voluptatum officiis dolore tempore!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id veniam incidunt magni, reprehenderit culpa facilis explicabo reiciendis cumque hic sit assumenda illo totam,
        officia animi? Non ipsum necessitatibus officiis dolor!</p>
</body>
</html>